.alert{
   /* background-color: white !important;
    border-radius: 20px;
    border: 1px solid #fafafa;
    color: black;*/
}
.button{
 border: none !important;
 transition: all .4s;
}
.button:hover{
    transform: rotate(45deg);
    color:rgb(36, 172, 179);
}

.good{
    color:rgb(33, 175, 144);
}
.average{
    color: rgb(252, 175, 23);
}
.bad{
    color:rgb(240, 78, 110);
}

.alert{
    height:auto;
    transition: all .6s;
}